.grid_6
  %p.title_1= I18n.t('forgotpass.change_passwd')
  %p.content_1 Please insert your new password and press submit.
  %p.content_b Don't forget to logout and login on your phone using your new password.
  - if flash[:reset_pass]
    %p{:class => "#{flash[:class]}"}
      = flash[:reset_pass]
.clear
.grid_5
  #passwd_feedback.grid_3
    - if !flash[:passwdupdated].nil? and flash[:passwdupdated] != ''
      %p{:class => "<haml_loud"}
        "\#{flash[:class]}"  &gt; #{flash[:passwdupdated]}
  = form_for @user, :url => password_reset_path, :method => :put do |f|
    = @user.errors.full_messages.to_sentence
    %table.table_info
      %tr.info
        %td
          %p.content_1= I18n.t('forgotpass.new_passwd')
        %td
          = f.password_field :password
      %tr.info
        %td
          %p.content_1= I18n.t('forgotpass.retype_new_passwd')
        %td
          = f.password_field :password_confirmation
      %tr
        %td
          %a.button.pull-right{:href => "/"} Cancel
        %td
          = f.submit I18n.t('forgotpass.update_and_log'), :class => 'button pull-right'
