
#tutorial_ad_step1 {
	position:absolute; 
	top:-50px; 
	left:50px; 
	z-index: 5000;
	width: 200px;
}

#tutorial_ad_step1 .extra_content {
	right: -600px;
	width: 300px;
	height: 200px;
}

#tutorial_ad_step1.with_household {
	position:absolute; 
	top: -50px; 
	left: auto !important; 
	right: 200px;
	z-index: 5000;
	width: 200px;
}

#tutorial_ad_step1.with_household .extra_content {
	left: -450px;
	top: 100px;
	width: 300px;
	height: 200px;
}


/************** STEP 2 ********************/
#tutorial_ad_step2 {
	position:absolute; 
	top: -10px; 
	right: 300px; 
	z-index: 5000;
	width: 270px;
}

#tutorial_ad_step2 .extra_content {
	top: 250px ;
	left: -300px;
	width: 350px;
	height: 120px;
	
}

/************** STEP 3 ********************/
#tutorial_ad_step3 {
	position:absolute; 
	top: 50px; 
	right: 100px; 
	z-index: 5000;
	width: 330px;
}

#tutorial_ad_step3 .extra_content {
	top: 350px;
	left: -520px;
	width: 350px;
	height: 100px;
	
}

/************** STEP 4 ********************/
#tutorial_ad_step4 {
	position:absolute; 
	top: 250px; 
	right: 450px; 
	z-index: 5000;
	width: 400px;
}

#tutorial_ad_step4 .extra_content {
	top: 150px;
	left: -100px;
	width: 350px;
	height: 100px;
	
}

/************** STEP 5 ********************/
#tutorial_ad_step5 {
	position:absolute; 
	top: 330px; 
	right: 450px; 
	z-index: 5000;
	width: 400px;
}

#tutorial_ad_step5 .extra_content {
	top: 70px;
	left: -100px;
	width: 350px;
	height: 100px;
	
}

/************** STEP 6 ********************/
#tutorial_ad_step6 {
	position:absolute; 
	top: 320px; 
	right:110px; 
	z-index: 5000;
	width: 350px;
}

#tutorial_ad_step6 .extra_content {
	top: 80px;
	left: -490px;
	width: 350px;
	height: 150px;
	
}

/************** STEP 7 ********************/
#tutorial_ad_step7 {
	position:absolute; 
	top: 320px; 
	right:135px; 
	z-index: 5000;
	width: 350px;
}

#tutorial_ad_step7 .extra_content {
	top: 80px;
	left: -465px;
	width: 350px;
	height: 150px;
	
}

/************** STEP 8 ********************/
#tutorial_ad_step8 {
	position:absolute; 
	top: 320px; 
	right:157px; 
	z-index: 5000;
	width: 350px;
}

#tutorial_ad_step8 .extra_content {
	top: 80px;
	left: -443px;
	width: 350px;
	height: 150px;
}

/************** STEP 9 ********************/
#tutorial_ad_step9 {
    position: absolute;
    top: 220px; 
    right: 230px;
	z-index: 5000;
	width: 400px;
}

#tutorial_ad_step9 .extra_content {
	top: 180px ;
	left: -322px;
	width: 350px;
	height: 100px;
	
}

/************** STEP 10 ********************/
#tutorial_ad_step10 {
    position: absolute;
    top: 290px; 
    right: 230px;
	z-index: 5000;
	width: 400px;
}

#tutorial_ad_step10 .extra_content {
	top: 180px ;
	left: -322px;
	width: 350px;
	height: 100px;
	
}

/************** STEP 11 ********************/
#tutorial_ad_step11 {
	position:absolute; 
	left: 100px;
	top: -30px;
	z-index: 5000;
	width: 200px;
}

#tutorial_ad_step11a {
	position:absolute; 
	left: 70px;
	top: 370px;
	z-index: 5000;
	width: 380px;
}

#tutorial_ad_step11 .extra_content {
	top: 200px;
	right: -600px;
	width: 350px;
	height: 200px;
	
}

/************** STEP 12 ********************/
#tutorial_ad_step12 {
	position:absolute; 
	right: 90px; 
	top: 465px; 
	z-index: 5000;
	width: 200px;
}

#tutorial_ad_step12.extra_content {
	left: -700px;
	width: 300px;
	height: 115px;
	
}


/************** STEP 13 ********************/
#tutorial_ad_step13 {
	position:absolute; 
	top: 530px; 
	right: 310px; 
	z-index: 5000;
	width: 300px;
}

#tutorial_ad_step13 .extra_content {
	left: -240px;
	width: 300px;
	height: 115px;
	top: -220px; 
}

/************** STEP 14 ********************/
#tutorial_ad_step14 {
	position:absolute; 
	left: 100px;
	top: -30px;
	z-index: 5000;
	width: 200px;
}

#tutorial_ad_step14a {
	position:absolute; 
	left: 70px;
	top: 370px;
	z-index: 5000;
	width: 380px;
}

#tutorial_ad_step14 .extra_content {
	top: 200px;
	right: -600px;
	width: 350px;
	height: 200px;
	
}

/************** STEP 16********************/
#tutorial_ad_step16 {
	position:absolute; 
	top: 530px; 
	right: 75px; 
	z-index: 5000;
	width: 300px;
}

#tutorial_ad_step16 .extra_content {
	left: -440px;
	width: 300px;
	height: 115px;
	top: -20px; 
}

/************** STEP 17********************/
#tutorial_ad_step17 {
	position:absolute; 
	z-index: 5000;
	top: 200px;
	right: -100px;
}

#tutorial_ad_step17 .extra_content {

}

.tutorial_step {
	height: 50px;
	width: 300px;
}

.extra_content {
	position: absolute;
	background: #145E9F;
	border-bottom: 4px solid #07426B;
	color: white;
	border-radius: 3px;
	padding: 5px;
}

.extra_content input[type="submit"] {
	border: 2px solid white;
	color: white!important;
	font-size: 12px;
	font-style: italic;
	background-color: #145E9F;
	border-radius: 3px;
	font-weight: bold;
}

.extra_content input[type="submit"]:hover{
  background-color: white;
  color: #145E9F !important;
  text-decoration:none;
  cursor: pointer;
}

.extra_content,
.extra_content p,
.extra_content li {
	font-family: Verdana, Arial, sans-serif !important;
	font-weight: normal !important;
	color: white !important;
	font-size: 12px !important;
}

.extra_content ul,
.extra_content p {
	margin-bottom: 1.1em;
}

.tutorial_step .tutorial_step_marker {
	position: absolute;
	bottom: -16px;
	left: 50%;
	margin-left: -14px;
}

.tutorial_step .text {
	vertical-align: middle;
	line-height: 50px !important;
	font-size: 30px !important;
	color: #fdfdfd !important;
	font-family: Trebuchet, Sans-serif !important;
	float: left ;
	margin-left: 10px;
}

.tutorial_step .tutorial_step_content{
	height: 49px;
	background: #145E9F;
	border-bottom: 4px solid #07426B;
	border-radius: 3px;
	line-height: 50px;
}


.tutorial_step .tutorial_step_content p {
	/*margin-left: 60px;*/
	color: white !important;
	font-family: Verdana, Arial, sans-serif !important;
	font-weight: normal !important;
	text-align: center !important;
	font-size: 16px !important;
}

.arrow_d .tutorial_step_marker {
	background: url('../../images/tutorial/arrow_box.png') no-repeat 0px 0px;
	width: 28px;
	height: 17px;
}

.arrow_u .tutorial_step_marker {
	background: url('../../images/tutorial/arrow_box_up.png') no-repeat 0px 0px;
	width: 28px;
	height: 17px;
	top: -16px;
	bottom: none !important;
}

.arrow_d  .tutorial_step .tutorial_step_marker .text {
	margin-left: 0px;
}

.tutorial_step.arrow_r .tutorial_step_content {
	border-bottom: 0px;
	border-right: 4px solid #07426B;
}

.tutorial_step.arrow_l .tutorial_step_content {
	border-bottom: 0px;
	border-left: 4px solid #07426B;
}

.arrow_l .tutorial_step_marker {
	background: url('../../images/tutorial/arrow_box_left.png') no-repeat 0% 100%;
	width: 17px;
	height: 28px;
	left: 1px;
	bottom: auto !important;
	right: auto !important;
	top: 50%;
	margin-top: -14px !important;
	margin-right: auto;
}

.arrow_r .tutorial_step_marker {
	background: url('../../images/tutorial/arrow_box_right.png') no-repeat 0% 100%;
	width: 17px;
	height: 28px;
	left: auto !important;
	bottom: auto !important;
	right: -13px;
	top: 50%;
	margin-top: -14px !important;
	margin-left: auto;
}

.arrow_r  .tutorial_step .tutorial_step_marker .text {
	margin-left: 0px;
}