From the averages calculated yesterday, here is the list of users with potencial weird battery consumption:
%table{:border => "1"}
  %tr
    %th User ID
    %th #Average
  - @content[:cases].each do |situation|
    %tr
      %td
        = situation[:user_id]
      %td
        = situation[:average]
