%p
  Hello #{@content[:user]},
%p Thank you for taking part in the Future Mobility Survey (FMS)!
%p
  You are currently running the FMS app. The next step in the participation process is to tell us more about some of your activities and travel days by logging in to our site #{link_to "here", "https://www.fmsurvey.sg"} and going to the Activity Diary. There, you’ll see a map and information about your daily activities, which we’ll ask you to complete by telling us a bit more about what you did at each place and how you got there.
%p
  If you have any questions, comments or concerns, please don’t hesitate to contact us in any of the following ways:
%ul
  %li
    By responding to this email address,
  %li
    By emailing fmsurvey@smart.mit.edu,
  %li
    Through our #{link_to "contact page", "https://www.fmsurvey.sg/pages/contacts"}, or
  %li
    By phone at 6601-1547.
%p
  For answers to specific questions, please take a look at our #{link_to "FAQs", "https://www.fmsurvey.sg/pages/faqs"}.
%p Thank you for your participation!
%p Best regards,
%p
  Future Urban Mobility Group
  %br/
  Singapore-MIT Alliance for Research and Technology
