:javascript
  var tempBounds = new google.maps.LatLngBounds();
    var pos = null;
    var infowindow;
    var lastPos;
  
    jQuery(document).ready(function(){
      smart.Map.loadFrequentPlacesMap();
  
  <haml_silent>     current_user.frequent_places.includes(:user_activities).each do |p| 
  </haml_silent><haml_block>      pos = new google.maps.LatLng( #{p.lat}, #{p.lon});
        tempBounds.extend(pos);
  <haml_silent>       p.user_activities.each do |a| 
  </haml_silent><haml_block>        smart.Map.addFrequentPlaceToMap(smart.Map._frequentPlacesMap,pos,"#{a.name}", #{p.id}, #{a.id}, "#{a.image}");
  </haml_block></haml_block>
      smart.Map._frequentPlacesMap.fitBounds(tempBounds);
  
      jQuery('#add_frequent_place_submit').bind('click', function(ev){
        if (smart.Map._tempMarker === null) {
          alert('Please set a location first.');
        }
        else {
          smart.Map.addFrequentPlace();
          // update the table too
        }
      });
  
      jQuery('.address_autocomplete').on('keydown', function(e) {
        if(e.keyCode == 13) { // enter key was pressed
          e.preventDefault();
        }
      });
    });
.control-group.column-group
  .alert_container
  %div
    %p Please tell us about some of your frequently visited places. This will make it easier for us to interpret and for you to review your location data.
  /
    <div class="large-30" id="select_place_type">
    <haml_silent>     PlaceCategory.all.each do |p|
    </haml_silent><haml_block>      <haml_loud> radio_button_tag :place_category_id, p.id, p.name, label: p.name </haml_loud>
    <haml_loud> label :place_category, p.name </haml_loud>
    </haml_block>  </div>
.clear
.ink-form
  .control-group.column-group
    .large-50
      .column-group
        %label 1. Select the primary activity type:
        %select#frequent_place_user_activity_id
          = options_for_select(UserActivity.all.map{ |a| [a.name, a.id, {image: a.image}] })
  .control-group.column-group
    .large-100
      %label 2. Enter/search for an address, location or place name:
      %input#add_frequent_place_search.address_autocomplete{:name => "address_input", :type => "text", :value => ""}/
  .control-group.column-group
    .large-60
      .column-group
        %label 3. Adjust temporary location marker in map by moving it if not accurately placed
    .large-20
      %input#add_frequent_place_submit.setMarkerButton.btn{:type => "button", :value => "Add frequent place"}/
  %p *To delete, right-click on an existing marker, or click on 'X' in the corresponding table row.
  .control-group.column-group
    .large-50
      #frequent_places_map Map div goes here
    #frequent_places_table.ink-table.large-50
      = render 'frequent_places/table'
