.grid_7
  %p.title_2
    = I18n.t('activation.title_account_not_validated')
  %p= I18n.t('activation.text_account_not_validated')
  %p= I18n.t('activation.text_resend_activation')
  = form_tag activations_resend_path do
    #form
      = hidden_field_tag 'user_email', @user_email
      .grid_5
        = submit_tag I18n.t('activation.resend_button'), :class => 'button'
