.grid_4
  %h2.title_1
    Hello!
  %p  
  %p.content_1
    %b We need your help.
  %p.content_1
    You are being asked to participate in a smartphone-based travel survey co-sponsored the Future Urban Mobility group of the Singapore-MIT Alliance for Research and Technology (
    %span.class1>
      %a{:href => "http://smart.mit.edu/"} SMART-FM
    ). This survey will collect data about where
    any participant go and how they get there and the data collected will be used to enhance transportation planning processes.
  %p  
  %p  
  %p.content_1
    %b What are your responsibilities?
  %p.content_1
    We will first ask you to install the FMS application on your
    %span.class1
      %a{:href => "https://play.google.com/store/apps/details?id=edu.mit.smart.fmsurvey.android"} Android
    or
    %span.class1
      %a{:href => "javascript:void(0)", :onclick => "alert('The iPhone app will be available soon')"} iPhone
    and register with the survey. Next, we will ask you to keep the app running for a period of two weeks, during which time the app will collect your location data (including GPS, Wi-Fi and GSM). This data, which will be stored on our secure server, may be accessed through your password-protected account on our website. We will ask you to log into the survey website periodically to tell us more about your activities and travel in the Activity Diary. In order to qualify for the survey incentive, we ask you to collect data for two weeks, and provide additional information to us for at least five of those days.
.grid_4
  %p  
  %p  
  %p.content_1
    %b What risks or benefits should I expect to receive?
  %p.content_1 You will not experience any discomfort as a result of participating in this study. Other than receiving the payment noted above in exchange for your participation, you will not receive any direct benefits from participating in this research. The most direct benefit you will receive from your participation is that you can acquire first-hand knowledge of the research process.
  %p  
  %p  
  %p.content_1
    %b How many members of my household should take part?
  %p.content_1 We're asking any household members over the age of 6 with access to a smartphone with data plan to take part.
  %p  
  %p  
  %p.content_1
    %b Will you keep my data confidential?
  %p.content_1
    Confidentiality is critical to the success of our survey. We want you to feel secure in providing candid responses to our questions and in providing us with your travel information. All information will be held in strict confidence. For more information, please see our
    = succeed "." do
      %span.class1= link_to "Privacy Policy", "/docs/Privacy_Policy_HMSurvey.pdf"
.grid_4
  %p  
  %p  
  %p.content_1
    %b What if I wish to withdraw my participation, or would prefer not to answer some of the survey questions?
  %p.content_1 You may withdraw from the study at any time and for any reason.  Should you choose not to respond to a question on the survey,  simply skip the question entirely.
  %p  
  %p  
  %p.content_1
    %b Who should I contact if I have questions about the survey and my rights as a participant?
  %p.content_1 If you have any questions regarding your rights and participation as a research subject, please contact our staff at fmsurvey@smart.mit.edu. One of our staff will answer your question if possible, or will direct you to the appropriate contact
  %p  
  %p.content_r
    You may download a brief participation information sheet
    = succeed "." do
      %span.class1= link_to "here", "/docs/Information_FMSurvey.pdf"
  = image_tag("smart/recruit_ok.png", :alt =>"ok" )
  %p.title_1
    Thank you!
    %br/
    Your participation
    = succeed "will" do
      %br/
